<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Billing Appointment</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Client's Information</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input [formControl]="name" type="text" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input [formControl]="lastName" type="text" class="form-control" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>ID</label>
                                        <input [formControl]="ID" type="text" class="form-control" placeholder="ID">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Vehicle's License Plate</label>
                                        <input [formControl]="licensePlate" type="text" class="form-control" placeholder="ABC-123/123456">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Appointment's Information</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Office</label>
                                        <input [formControl]="office" type="text" class="form-control" placeholder="Office">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Service Required</label>
                                        <input [formControl]="service" type="text" class="form-control" placeholder="Service">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Date & Time</label>
                                        <input [formControl]="date" type="datetime-local" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Employee's Information</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input [formControl]="empName" type="text" class="form-control" placeholder="Office">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input [formControl]="empLName" type="text" class="form-control" placeholder="Service">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ID</label>
                                        <input [formControl]="empID" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h5>Client's Consumption</h5>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <!--<label>Products Consumed</label>
                                        <ng-multiselect-dropdown
                                            [placeholder]="'Select the products consumed by the client'"
                                            [settings]="dropdownSettings"
                                            [data]="productos"
                                            [formControl]="consumption">
                                        </ng-multiselect-dropdown>-->
                                        <label>Products Consumed</label>
                                        <input [formControl]="consumption" type="text" class="form-control" placeholder="Products Consumed">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Payment Method</label>
                                        <input [formControl]="payM" list="payM" type="text" class="form-control" placeholder="Payment Method">
                                        <datalist id="payM">
                                            <option value="Efectivo">Efectivo</option>
                                            <option value="Tarjeta">Tarjeta</option>
                                            <option value="Puntos">Puntos</option>
                                        </datalist>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Productos Disponibles</h4>
                    </div>
                    <div class="content table-full-width">
                        <table class="table table-striped">
                              <thead>
                                  <tr>
                                      <th *ngFor="let cell of productos.headerRow">{{ cell }}</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let row of productos.dataRows; let indexOfClient=index;">
                                      <td *ngFor="let cell of row">{{cell}}</td>
                                  </tr>
                              </tbody>
                        </table>
                  </div>
                </div>
                <a><button (click)="billAppointment()" type="submit" class="btn btn-info btn-fill pull-right">Bill Appointment</button></a>
            </div>
        </div>
    </div>
</div>